<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="testProperties"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>testBotConfig.properties</value>
                <value>database.properties</value>
            </list>
        </property>
    </bean>
    <bean id="appMainController" class="org.botFromSpot.guiApp.AppMainController">
        <property name="binancePairDAO" ref="binancePairDAO"/>
        <property name="binanceApiMethods" ref="binanceApiMethods"/>
        <property name="loadPairController" ref="loadPairController"/>
        <property name="pairSettingController" ref="pairSettingController"/>
        <property name="botProvider" ref="botProvider"/>
        <property name="strategyProvider" ref="strategyProvider"/>
    </bean>
    <bean id="applyConfigService" class="org.botFromSpot.guiApp.services.ApplyConfigServiceImpl">
        <property name="dataBaseService" ref="dataBaseService"/>
        <property name="takeProfit" value="${test.takeProfit}"/>
        <property name="averagingStep" value="${test.averagingStep}"/>
        <property name="multiplier" value="${test.multiplier}"/>
        <property name="quantityOrders" value="${test.quantityOrders}"/>
        <property name="sumToTrade" value="${test.sumToTrade}"/>
    </bean>
    <bean id="dataBaseService" class="org.botFromSpot.guiApp.services.DataBaseSQLiteImpl" init-method="init">
        <property name="url" value="${database.url}"/>
    </bean>
    <bean id="binancePairDAO" class="org.botFromSpot.guiApp.services.BinancePairDAO">
        <property name="dataBaseService" ref="dataBaseService"/>
    </bean>
    <bean id="binanceApiMethods" class="org.botFromSpot.guiApp.services.BinanceApiMethods">
        <property name="binancePairDAO" ref="binancePairDAO"/>
        <property name="appMainController" ref="appMainController"/>
    </bean>
    <bean id="loadPairController" class="org.botFromSpot.guiApp.LoadPairController">
        <property name="appMainController" ref="appMainController"/>
        <property name="binancePairDAO" ref="binancePairDAO"/>
        <property name="binanceApiMethods" ref="binanceApiMethods"/>
        <property name="pairSettingController" ref="pairSettingController"/>
    </bean>
    <bean id="pairSettingController" class="org.botFromSpot.guiApp.PairSettingController">
        <property name="appMainController" ref="appMainController"/>
        <property name="binancePairDAO" ref="binancePairDAO"/>
        <property name="binanceApiMethods" ref="binanceApiMethods"/>
        <property name="botProvider" ref="botProvider"/>
    </bean>
    <bean id="botProvider" class="org.botFromSpot.guiApp.services.BotProvider">
        <property name="appMainController" ref="appMainController"/>
        <property name="binancePairDAO" ref="binancePairDAO"/>
        <property name="binanceApiMethods" ref="binanceApiMethods"/>
        <property name="strategyProvider" ref="strategyProvider"/>
    </bean>
    <bean id="strategyProvider" class="org.botFromSpot.guiApp.services.StrategyAveragingFromSpotProvider">
    </bean>
    <bean id="averagingProvider" factory-bean="strategyProvider" factory-method="getStrategyAveragingForSpot" scope="prototype">
        <property name="binancePairDAO" ref="binancePairDAO"/>
        <property name="binanceApiMethods" ref="binanceApiMethods"/>
        <property name="appMainController" ref="appMainController"/>
    </bean>
</beans>